<div class="container">

	<div class="row">
		<div class="col-md-12">
			<img src="/assets/images/happyburger.jpg" alt="burger" class="img-responsive center-block">
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Eat-Da-Burger</h1>
		</div>
	</div>



	<div class="row">
		<div class="col-md-5">
			<h3>Available Burgers</h3>
			<ul>
				{{#each burgers}}
					{{#unless this.devoured}}
						<li>
							<h5>{{this.burger_name}}
								<form action='burgers/updateOne/{{this.id}}?_method=PUT' method='POST'>
									<input type='hidden' name='devoured' value='true'>
									<button type='submit' class="btn btn-default">Devour it</button>
								</form>
							</h5>
						</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div><!-- end column 1 -->


		<div class="col-md-2"></div><!-- spacer column -->


		<div class="col-md-5">
			<h3>Devoured Burgers</h3>
			<ul>
				{{#each burgers}}
					{{#if this.devoured}}
						<li>
							<h5 class="text-muted">{{this.burger_name}}</h5>
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div><!-- end column 2 -->

	</div><!-- end third row -->

	<br><br>

	<div class="row">
		<div class="col-md-12 text-center">
			<form class="create-update-form" action="burgers/insertOne" method="POST">
				<div class="form-group">
					<h4 class="text-center">Type in Burger of your choice to "Devour it"</h4>
					<textarea type="text" name="name"></textarea><br>
					<button class="btn btn-default" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>

</div>