body {
	background-image: url("/assets/images/background.jpg");
	margin-top: 20px;
}

img {
	width: 350px;
	height: auto;
}
h3 {
    color: aliceblue;
    font-size: 22px;
}
h1 {
    font-size: 40px;
    color: rgb(233,17,17);
}
h4, h5 {
    color: aliceblue;
}